.home{
    height:100%;
    display:grid;
    grid-template-columns: 2fr 8fr 2fr;
   background:#efcded;
    
}
.sidebar-left {
   height:100%;
   background-color: #be5ed4;

     
}

 .sidebar-right{
    height:100%;
    background-color: #be5ed4;
}
.quizContent{
    margin-top: 40px;
    text-align: center;
     
}
h1{
    color:#be5ed4;
}
.intro{

    text-align: center;
    width:80%;
    margin:auto;
    margin-top: 50px;
}
p{
    font-size: large
    ;
    margin-bottom: 20px;
}
 ul{
     width:100%;
     list-style: none;
     display:flex;
     flex-direction: column;
    
      
 }
 li{
     width:100%;
     margin:10px 0px;

 }
 a{
     text-decoration: none;
     color:#f9effb;

 }
.quiz1{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    width:500px;
    background-color: #be5ed4;
    border-radius: 15px;
    padding:10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
.quiz2{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    width:500px;
    background-color: #be5ed4;
    border-radius: 15px;
    padding:10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
Link{
    width:100px;
    text-decoration: none;
     
}
 button{
     text-decoration: none;
     background-color:#be5ed4 ;
     width:100px;
     font-size:20px;
     padding:10px;
 }