.home{
    height:90vh;
    display:grid;
    /* grid-template-columns: 2fr 8fr 2fr; */
    grid-template-areas: 
    'sidebar-left  quiz quiz sidebar-right'
    'footer footer footer footer';
   background:#efcded;
    
}
.sidebar-left {
    width:200px;
    grid-area: sidebar-left;
   /* height:100%; */
   background-color: #be5ed4;
   height:90vh;

     
}

 .sidebar-right{
    width:200px;
    grid-area: sidebar-right;
    /* height:100%; */
    background-color: #be5ed4;
}
.quizContent{
    /* width:600px; */
    grid-area: quiz;
    margin-top: 40px;
    text-align: center;
     
}
h1{
    color:#be5ed4;
}
.intro{

    text-align: center;
    width:80%;
    margin:auto;
    margin-top: 50px;
}
p{
    font-size: large
    ;
    margin-bottom: 20px;
}
 ul{
     width:100%;
     list-style: none;
     display:flex;
     flex-direction: column;
    
      
 }
 li{
     width:100%;
     margin:10px 0px;

 }
 a{
     text-decoration: none;
     color:#f9effb;

 }
.quiz1{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    width:500px;
    background-color: #be5ed4;
    border-radius: 15px;
    padding:10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
.quiz2{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    width:500px;
    background-color: #be5ed4;
    border-radius: 15px;
    padding:10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
Link{
    width:100px;
    text-decoration: none;
     
}
 .Btn{
     text-decoration: none;
     background-color:#be5ed4 ;
     width:150px;
     font-size:20px;
     padding:10px;
     color:#fff;
 }
 .footer{
     grid-area: footer;
     height:40px;
     text-align: center;
     display:flex;
     justify-content: center;
     align-items: center;
     /* margin-top: 50px; */
     background:#efcded;
 }