.table-content{
    width:100%;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
table{
    width:80%;
  
}
td, th {
    border: 2px solid #be5ed4;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
  }
  th{
      background-color: #be5ed4
      ;
      color:#fff;
  }